<h2>November 2, 2019</h2>
<p>Ut enim ad minim veniam, quis nostrud exercitation consectetur adipisicing elit. Velit esse cillum dolore
    ullamco laboris nisi in reprehenderit in voluptate. Mollit anim id est laborum. Sunt in culpa duis aute
    irure dolor excepteur sint occaecat. <a href="#">More</a></p>
<h2>November 3, 2019</h2>
<p>Eu fugiat nulla pariatur. Ut labore et dolore magna aliqua. Cupidatat non proident, quis nostrud
    exercitation ut enim ad minim veniam. <a href="#">More</a></p>
<h2>November 4, 2019</h2>
<p>Consectetur adipisicing elit, duis aute irure dolor. Lorem ipsum dolor sit amet, ut enim ad minim veniam,
    consectetur adipisicing elit. Duis aute irure dolor ut aliquip ex ea commodo consequat. <a href="#">More</a></p>
<h2>November 5, 2019</h2>
<p>Quis nostrud exercitation eu fugiat nulla pariatur. Ut labore et dolore magna aliqua. Sed do eiusmod
    tempor incididunt velit esse cillum dolore ullamco laboris nisi. <a href="#">More</a></p>